/* body{
    background-image: repeating-linear-gradient(107deg, hsla(82,0%,5%,0.15) 0px, hsla(82,0%,5%,0.15) 0px,transparent 0px, transparent 1px,hsla(82,0%,5%,0.15) 1px, hsla(82,0%,5%,0.15) 3px,transparent 3px, transparent 4px,hsla(82,0%,5%,0.15) 4px, hsla(82,0%,5%,0.15) 7px),repeating-linear-gradient(191deg, hsla(82,0%,5%,0.15) 0px, hsla(82,0%,5%,0.15) 0px,transparent 0px, transparent 1px,hsla(82,0%,5%,0.15) 1px, hsla(82,0%,5%,0.15) 3px,transparent 3px, transparent 4px,hsla(82,0%,5%,0.15) 4px, hsla(82,0%,5%,0.15) 7px),repeating-linear-gradient(0deg, hsla(82,0%,5%,0.15) 0px, hsla(82,0%,5%,0.15) 0px,transparent 0px, transparent 1px,hsla(82,0%,5%,0.15) 1px, hsla(82,0%,5%,0.15) 3px,transparent 3px, transparent 4px,hsla(82,0%,5%,0.15) 4px, hsla(82,0%,5%,0.15) 7px),repeating-linear-gradient(90deg, hsla(82,0%,5%,0.15) 0px, hsla(82,0%,5%,0.15) 0px,transparent 0px, transparent 1px,hsla(82,0%,5%,0.15) 1px, hsla(82,0%,5%,0.15) 3px,transparent 3px, transparent 4px,hsla(82,0%,5%,0.15) 4px, hsla(82,0%,5%,0.15) 7px),linear-gradient(90deg, rgb(45,45,45),rgb(45,45,45));
} */

.menu-buttons{
    color: #ba4e07;
    width: 150px; 
    height: 60px;
    border-radius: 10px;
}
/* .App{
    background: linear-gradient(135deg, rgba(103, 44, 5, 0.95) 0%, rgba(40, 36, 36, 0.9) 100%);
} */